<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vulDetect</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/sidebars.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Montserrat:wght@300&family=Oswald:wght@500&family=Playfair+Display:wght@600&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Montserrat:wght@300&family=Nanum+Gothic&family=Oswald:wght@500&family=Playfair+Display:wght@600&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="row">

        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar font-family-azure">
            <div class="position-sticky" style=" margin-top: 30px;">
                <ul class="nav flex-column">
                    <li class="nav-item click-item">
                        <a href="/dashBoard" class="nav-link link-dark">
                            <i class="bi bi-speedometer2"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/projectManage" class="nav-link link-dark">
                            <i class="bi bi-table"></i> Project Manager
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 overflow-auto flex-column align-items-center" >

            <div style=" margin-top: 30px;">
                <div style="margin: 0 auto;" >
    <!--row1-->
                    <div>
                        <div class="row">
                            <div class="col-md-2">
                                <label  for="projectSelect" class="form-label font-family-azure">Project</label>
                                <select class="form-select font-family-azure" id="projectSelect" name="selectedProject" onchange="loadRounds()">
                                    <option >Project</option>
                                    <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}" th:selected="${project.id == selectedProjectId}"></option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="roundSelect" class="form-label font-family-azure">Round</label>
                                <select class="form-select font-family-azure" id="roundSelect" name="selectedRound" onchange="loadDiagnosisItems()">
                                    <option value="">Round</option>
                                    <option th:each="round : ${roundList}" th:value="${round}" th:text="${round}" th:selected="${round == selectedRoundvalue}"></option>
                                </select>
                            </div>
                            <div class="col-md-8 container-2 font-family-azure" th:if="${project != null and project.compliance != null}" >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-2"><i class="bi bi-check-circle-fill green-icon" aria-hidden="true" role="img"></i></div>
                                                <div class="col-md-3" th:text="${vulnerabilityAndPassCountDto.passPercentage} + '%' + '  ' + 'passed'"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-2"><i class="bi-3-circle-fill red-icon" aria-hidden="true" role="img"></i></div>
                                                <div class="col-md-3" th:text="${vulnerabilityAndPassCountDto.getLevel3Percentage()} + '%' + ' ' + 'Failed'"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-2"><i class="bi bi-2-circle-fill orange-icon" aria-hidden="true" role="img"></i></div>
                                                <div class="col-md-3" th:text="${vulnerabilityAndPassCountDto.getLevel2Percentage()} + '%' + '  ' + 'Failed' "></div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-md-2"><i class="bi bi-1-circle-fill yellow-icon" aria-hidden="true" role="img"></i></div>
                                                <div class="col-md-3" th:text="${vulnerabilityAndPassCountDto.getLevel1Percentage()} + '%' + '  ' + 'Failed'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <canvas id="myChart2"  height="40" class="parentRelative"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr >

    <!--row2-->
                    <div class="container-1" >
                        <div class="a-1" style="display: flex; justify-content: space-around; margin-left: 20px" >
                            <div class="col-6" style="display: flex; flex-direction: column;">
                                <div class="font-family-korean"><strong>컴플라이언스</strong></div>
                                <div class="align-center" id="complianceName"  th:text="${project.compliance.name}" th:if="${project != null and project.compliance != null}"></div>
                            </div>
                            <div class="col-3" style="display: flex; flex-direction: column;">
                                <div class="font-family-korean"><strong>진단 점수</strong></div>
                                <div class="align-center font-tiny" id="diagnosisResult"  th:text="${diagnosisResult}" th:if="${project != null and project.compliance != null}"></div>
                            </div>
                            <div class="col-3" style="display: flex; flex-direction: column;">
                                <div class="font-family-korean"><strong>진단 항목 수</strong></div>
                                <div class="align-center font-items-tiny" id="diagnosisItemCount"  th:text="${diagnosisItemCount}" th:if="${project != null and project.compliance != null}"> </div>
                            </div>
                        </div>
                    </div>
                    <hr>


    <!--row3-->
                    <div id="chartData"  th:data-diagnosis-item-dtos="${diagnosisItemDTOs}"></div>
                    <div class="chart-container">
                        <div class="col-md-4" style="padding: 30px">
                            <label class="font-family-korean" ><strong>프로젝트 회차별 취약점 발생 현황</strong></label>
                            <canvas style="margin: 30px" id="myChart3" height="300px" ></canvas>
                        </div>
                        <div class="col-md-4" style="padding: 30px">
                            <label class="font-family-korean" ><strong>분류별 취약점 발생 현황</strong></label>
                            <canvas style="margin: 30px" id="myRadarChart" ></canvas>
                        </div>
                        <div class="col-md-4" style="padding: 30px">
                            <label class="font-family-korean" ><strong>진단 항목 분류별 개수</strong></label>
                            <canvas style="margin: 30px" id="myDoughnutChart"></canvas>
                        </div>
                    </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!---table-->
                <div class="borderline" style="margin: 10px; background-color: #FFF3C4" th:if="${project != null and project.compliance != null}">
                    <div style="margin: 10px ">
                        <span class="borderline2" style="background-color: lightgreen"  th:text="${vulnerabilityAndPassCountDto.getTotalCount() + 'Items'}"></span>
                    </div>

                    <table class="table table-responsive font-family-korean " id="myTable">
                    <thead>
                        <tr align="center">
                            <th class="col-1">상세</th>
                            <th class="col-1">분류</th>
                            <th class="col-1">항목 코드</th>
                            <th class="col-1">심각도</th>
                            <th class="col-4">점검 항목명</th>
                            <th class="col-1">진단 결과</th>
                            <th class="col-1">진단 엔티티</th>
                            <th class="col-1">양호 엔티티</th>
                            <th class="col-1">취약 엔티티</th>

                        </tr>
                    </thead>
                    <tbody th:each="item : ${diagnosisItems}" >
                        <tr  align="center" id="forCount">

                            <td>
                                <button class="btn btn-sm" data-bs-toggle="collapse" th:data-bs-target="'#row-details-' + ${item.id}" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </button>
                            </td>
                            <td th:text="${item.azrDescription.category}"></td>
                            <td th:text="${item.name}"></td>

                            <td>
                                <i th:if="${item.azrDescription.vulnerableLevel == 1}" class="bi-1-circle-fill yellow-icon" aria-hidden="true" role="img" ></i>
                                <i th:if="${item.azrDescription.vulnerableLevel == 2}" class="bi-2-circle-fill orange-icon" aria-hidden="true" role="img"></i>
                                <i th:if="${item.azrDescription.vulnerableLevel == 3}" class="bi-3-circle-fill red-icon" aria-hidden="true" role="img"></i>
                            </td>
                            <td th:text="${item.azrDescription.inspectionDescription}"></td>
                            <td th:text="${item.result}"></td>
                            <td th:text="${item.totalEntityCount}"></td>
                            <td th:text="${item.safeEntityCount}"></td>
                            <td th:text="${item.vulEntityCount}"></td>

                            <td th:text="${item.azrDescription.vulnerableLevel}" style="display: none;"></td>
                            <td th:text="${item.jsonArray}" style="display: none;"></td>
                            <td th:text="${item.azrDescription.vulnerableGrade}" style="display: none;"></td>

                        </tr>

<!-- collapse 테이블  -->
                        <tr class="collapse"  th:id="'row-details-' + ${item.id}" id="notCount" style="flex: auto">
                            <td colspan="12">
                                <!-- collapse 테이블을 감싸는 div -->
                                <div class="row">
                                    <!-- collapse 내용에 테이블 추가 -->
                                    <table class="custom-table-small">
                                        <thead>
                                            <tr align="center">
                                                <th class="col-1"> </th>
                                                <th class="col-1">항목 코드</th>
                                                <th class="col-8">엔티티</th>
                                                <th class="col-1">진단 결과</th>
                                                <th class="col-1"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="jsonNodeDTO, rowStat : ${jsonNodeDTOs}" th:if="${jsonNodeDTO.name == item.name}" align="center">
                                                <td></td>
                                                <td th:text="${jsonNodeDTO.name}"></td>
                                                <td th:text="${jsonNodeDTO.dgnssEntityKey}"></td>
                                                <td th:text="${jsonNodeDTO.dgnssEntityStatus} ? '양호' : '취약'"></td>
                                                <td>
                                                    <!-- Offcanvas 버튼 -->
                                                    <button type="button"  class="btn" data-bs-toggle="offcanvas" th:data-bs-target="'#offcanvas-' + ${rowStat.index}" aria-controls="'offcanvas-' + ${rowStat.index}">
                                                        <i class="bi bi-eye"></i>
                                                    </button>

                                                    <!-- Offcanvas 내용 -->
                                                    <div class="offcanvas offcanvas-end" style="width: 60%;" th:id="'offcanvas-' + ${rowStat.index}" tabindex="-1" aria-labelledby="offcanvasLabel">
                                                        <div class="offcanvas-header">
                                                            <h5 class="offcanvas-title" id="offcanvasLabel">진단 결과 상세</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                        </div>
                                                        <div class="offcanvas-body" style="text-align: left;">
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    항목코드
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:text="${jsonNodeDTO.name}" ></p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    항목명
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:text="${jsonNodeDTO.getDescription()}" ></p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    심각도
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <i th:if="${jsonNodeDTO.vulnerabilityLevel == 1}" class="bi-1-circle-fill yellow-icon" aria-hidden="true" role="img" ></i>
                                                                    <i th:if="${jsonNodeDTO.vulnerabilityLevel == 2}" class="bi-2-circle-fill orange-icon" aria-hidden="true" role="img"></i>
                                                                    <i th:if="${jsonNodeDTO.vulnerabilityLevel == 3}" class="bi-3-circle-fill red-icon" aria-hidden="true" role="img"></i>
                                                                </div>
                                                            </div>
                                                            <hr>

                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    양호 기준
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:text="${jsonNodeDTO.azrCriteria}" ></p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    엔티티
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:text="${jsonNodeDTO.dgnssEntityKey}" ></p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    진단 결과
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:text="${jsonNodeDTO.dgnssEntityStatus} ? '양호' : '취약'"></p>
                                                                </div>
                                                            </div>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">

                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:utext="${jsonNodeDTO.dgnssResultByValueAndKey}"></p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    점검 방법
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p>[Using Azure Command Line Interface]</p>
                                                                </div>
                                                            </div>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">

                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:text="${jsonNodeDTO.dgnssCheckCmd}"></p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    보안 설정 방법
                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p>[Using Azure Command Line Interface]</p>
                                                                </div>
                                                            </div>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">

                                                                </div>
                                                                <div style="width: 90%;">
                                                                    <p th:utext="${jsonNodeDTO.dgnssSecSettingCmd}"></p>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div style="display: flex; justify-content: left;">
                                                                <div style="width: 10%;">
                                                                    진단 상세
                                                                </div>
                                                                <pre  style="white-space: pre-wrap;">
                                                                    <p th:text="${jsonNodeDTO.jsonObject.toPrettyString()}" style="white-space: pre-wrap; "></p>
                                                                </pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                </div>

                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>

<script th:inline="javascript">

    /*<![CDATA[*/
    var diagnosisItemDTOs = /*[[${diagnosisItemDTOs}]]*/ null;
    var percentage = /*[[${vulnerabilityAndPassCountDto}]]*/ null;
    /*]]>*/

    function loadRounds() {
        var projectId = document.getElementById("projectSelect").value;

        if (projectId) {
            window.location.href = `/dashBoard/${projectId}`;
        }
    }

    function loadDiagnosisItems() {
        var projectId = document.getElementById("projectSelect").value;
        var roundSelect = document.getElementById("roundSelect").value;

        if (projectId && roundSelect) {
            window.location.href = `/dashBoard/${projectId}/${roundSelect}`;
        }
    }


    function calculateDiagnosisItemCount() {
        var rowCount = document.querySelectorAll('#forCount').length;
        document.getElementById("diagnosisItemCount").textContent = rowCount;
    }


    function myRadarChart() {
        var rows = document.querySelectorAll('#forCount');
        var etcPassCount = 0;
        var etcFailCount = 0;
        var securitySolutionPassCount = 0;
        var securitySolutionFailCount = 0;
        var loggingPassCount = 0;
        var loggingFailCount = 0;
        var monitoringPassCount = 0;
        var monitoringFailCount = 0;
        var accessControllerPassCount = 0;
        var accessControllerFailCount = 0;



        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            console.log(i)
            console.log(row.cells[1].textContent)

            if (row.cells[1].textContent === "Security Solutions"){
                if (row.cells[5].textContent === "양호"){
                    securitySolutionPassCount++;
                }else if (row.cells[5].textContent === "취약") {
                    securitySolutionFailCount++;
                }
            }else if (row.cells[1].textContent === "Access Control"){
                if (row.cells[5].textContent === "양호"){
                    accessControllerPassCount++;
                }else if (row.cells[5].textContent === "취약") {
                    accessControllerFailCount++;
                }
            }else if (row.cells[1].textContent === "ETC") {
                if (row.cells[5].textContent === "양호") {
                    etcPassCount++;
                } else if (row.cells[5].textContent === "취약") {
                    etcFailCount++;
                }
            } else if (row.cells[1].textContent === "Logging") {
                if (row.cells[5].textContent === "양호") {
                    loggingPassCount++;
                } else if (row.cells[5].textContent === "취약") {
                    loggingFailCount++;
                }
            } else if (row.cells[1].textContent === "Monitoring") {
                if (row.cells[5].textContent === "양호") {
                    monitoringPassCount++;
                } else if (row.cells[5].textContent === "취약") {
                    monitoringFailCount++;
                }
            }

        }

        console.log(accessControllerFailCount + "pass")


        const data = {
            labels: [
                'Security Solution',
                'ETC',
                'Logging',
                'Access Control',
                'Monitoring',
            ],
            datasets: [
                {
                    label: 'Pass',
                    data: [securitySolutionPassCount, etcPassCount, loggingPassCount, accessControllerPassCount, monitoringPassCount],
                    fill: true,
                    backgroundColor: 'rgba(0,250,41,0.2)',
                    borderColor: 'greenyellow',
                    pointBackgroundColor: 'rgb(0,136,36)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(136,236,129)'
                },

                {
                label: 'Failed',

                data: [securitySolutionFailCount, etcFailCount, loggingFailCount, accessControllerFailCount, monitoringFailCount],
                fill: true,
                backgroundColor: 'rgba(222,58,132,0.2)',
                borderColor: 'red',
                pointBackgroundColor: 'rgb(252,50,90)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(245,191,200)'
            } ]
        };


        const config = {
            type: 'radar',
            data: data,
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                },
                scale: {
                    ticks: {
                        beginAtZero: false,
                        stepSize: 1,
                    },
                    min: -1
                }
            }

        };

        const ctx = document.getElementById('myRadarChart').getContext('2d');
        new Chart(ctx, config);

    }

    function myDoughnutChart() {

        var rows = document.querySelectorAll('#forCount');
        var securitySolutionsCount = 0;
        var accessControlCount = 0;
        var etcCount = 0;
        var loggingCount = 0;
        var monitoringCount = 0;




        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            console.log(i)
            console.log(row.cells[1].textContent)

            if (row.cells[1].textContent === "Security Solutions"){
                securitySolutionsCount++;
            }else if (row.cells[1].textContent === "Access Control"){
                accessControlCount++;
            }else if (row.cells[1].textContent === "ETC") {
                etcCount++;
            } else if (row.cells[1].textContent === "Logging") {
                loggingCount++;
            } else if (row.cells[1].textContent === "Monitoring") {
                monitoringCount++;
            }


        }


        const data = {
            labels: [
                'Security Solution',
                'ETC',
                'Logging',
                'Access Control',
                'Monitoring',
            ],
            datasets: [{
                label: ' ',
                data: [securitySolutionsCount, accessControlCount, etcCount, accessControlCount , monitoringCount],
                backgroundColor: [
                    'rgba(13,255,140,0.79)',
                    'rgb(0,152,255)',
                    'rgb(115,115,115)',
                    'rgb(104,35,252)',
                    'rgb(252,149,233)',

                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'doughnut',
            data: data,
        };

        const ctx = document.getElementById('myDoughnutChart').getContext('2d');
        new Chart(ctx, config);

    }


    function myChart2() {
        var rowCount = document.querySelectorAll('#forCount').length;
        var rows = document.querySelectorAll('#forCount');
        var passCount = 0;
        var hCount = 0;
        var mCount = 0;
        var lCount = 0;
        //console.log(rows.item(0))
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            console.log(i)
            //var vulGrade2 = table.rows.cell
            console.log(row.cells[5])
            if(row.cells[5].textContent === "양호"){
                passCount ++;
            } else if (row.cells[5].textContent === "취약") {
                if(row.cells[11].textContent ==='H'){
                    hCount ++;
                }else if(row.cells[11].textContent === 'M'){
                    mCount ++;
                } else if(row.cells[11].textContent === 'L'){
                    lCount ++;
                }
            }

        }

        var data = {
            labels: [''], // 각 항목에 대한 레이블
            datasets: [
                {
                    label: 'Pass',
                    backgroundColor: 'greenyellow',
                    data: [passCount],
                    barThickness: 3
                },
                {
                    label: 'Failed Lv3',
                    backgroundColor: 'red',
                    data: [hCount],
                    barThickness: 3
                },
                {
                    label: 'Failed Lv2',
                    backgroundColor: 'orange',
                    data: [mCount],
                    barThickness: 3
                },
                {
                    label: 'Failed Lv1',
                    backgroundColor: '#ffea00',
                    data: [lCount],
                    barThickness: 3
                },
            ]
        };

        var options = {
            responsive: false,
            scales: {
                x: {
                    stacked: true,
                    display: false, // x 축 표시
                    barThickness: 30,
                    categorySpacing: 0

                },
                y: {
                    stacked: true,
                    display: false,

                },
            },
            indexAxis: 'y',
            plugins: {
                legend: {
                    display: false // 범례 표시
                }
            },
        };

        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });


    }

    function myChart3() {
        //console.log("DLRJTDMS FHRMEK")
        console.log(diagnosisItemDTOs)
        var groupedItems = {}; //같은 라운드 끼리 묶어줌
        var resultCounts = {};

        for (var i = 0; i < diagnosisItemDTOs.length; i++) {
            var item = diagnosisItemDTOs[i];
            var round = item.round;

            // round 값을 key로 하는 객체가 이미 존재하는지 확인
            if (!groupedItems[round]) {
                groupedItems[round] = [];
            }

            // round 값이 같은 항목들을 해당 key의 배열에 추가
            groupedItems[round].push(item);
        }
        console.log(groupedItems)

        for (var round in groupedItems) {
            var items = groupedItems[round];
            var hCount = 0;
            var mCount = 0;
            var lCount = 0;
            var safeCount = 0;

            // 라운드 내에서 취약한 항목들의 등급 세기
            for (var i = 0; i < items.length; i++) {
                if (items[i].result === '취약') {
                    if (items[i].vulnerability_level === 3) {
                        hCount++;
                    } else if (items[i].vulnerability_level === 2) {
                        mCount++;
                    } else if (items[i].vulnerability_level === 1) {
                        lCount++;
                    }
                } else if (items[i].result === '양호') {
                    safeCount++;
                }
            }

            // 결과 객체에 라운드별로 취약한 항목들의 등급 개수 저장
            resultCounts[round] = {
                H: hCount,
                M: mCount,
                L: lCount,
                Safe: safeCount // 양호한 항목 수 추가
            };
            console.log(resultCounts)

        }

        // Chart 데이터 생성
        var chartData = [];
        var roundLabels = Object.keys(resultCounts);

        for (var round in resultCounts) {
            var data = [];
            data.push(resultCounts[round].H);
            data.push(resultCounts[round].M);
            data.push(resultCounts[round].L);
            data.push(resultCounts[round].Safe);
            chartData.push(data);
        }

// 차트 생성
        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: roundLabels,
                datasets: [ {
                    label: 'Pass',
                    data: chartData.map(item => item[3]),
                    backgroundColor: 'greenyellow',
                    borderWidth: 1
                },{
                    label: 'Lv3',
                    data: chartData.map(item => item[0]),
                    backgroundColor: 'red',

                    borderWidth: 1
                }, {
                    label: 'Lv2',
                    data: chartData.map(item => item[1]),
                    backgroundColor: 'darkorange',

                    borderWidth: 1
                }, {
                    label: 'Lv1',
                    data: chartData.map(item => item[2]),
                    backgroundColor: 'yellow',

                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        stacked: true,
                        title: {
                            display: true,
                            text: '회차' // x축에 표시할 이름
                        }

                    },
                    y: {
                        stacked: true
                    },
                }
            }
        });


    }

    function test() {

    }

        window.onload = function () {
            calculateDiagnosisItemCount();

            myChart2();
            myChart3();
            myRadarChart();
            myDoughnutChart();
            test();
        }







</script>

</body>
</html>

